In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('short_movies.csv')

In [3]:
df.head()

,id,tag,html,sent id,text,target
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

In [6]:
df.size

120000

In [ ]:
# # Convert to lowercase and print the result
# movie_lower = movie.lower()
# print(movie_lower)

# # Remove specified character and print the result
# movie_no_sign = movie_lower.strip("$")
# print(movie_no_sign)

# # Split the string into substrings and print the result
# movie_split = movie_no_sign.split()
# print(movie_split)

# # Select root word and print the result
# word_root = movie_split[1][:-2]
# print(word_root)

In [ ]:
# # Remove tags happening at the end and print results
# movie_tag = movie.rstrip("<\i>")
# print(movie_tag)

# # Split the string using commas and print results
# movie_no_comma = movie_tag.split(",")
# print(movie_no_comma)

# # Join back together and print results
# movie_join = " ".join(movie_no_comma)
# print(movie_join)

In [ ]:
# # Split string at line boundaries
# file_split = file.split(sep="\n")
# # Print file_split
# print(file_split)

# # Complete for-loop to split by commas
# for substring in file_split:
#     substring_split = substring.split(sep = ",")
#     print(substring_split)

In [ ]:
# for movie in movies:
#   	# If actor is not found between character 37 and 41 inclusive
#     # Print word not found
#     if movie.find("actor", 37, 42) == -1:
#         print("Word not found")
#     # Count occurrences and replace two with one
#     elif movie.count("actor") == 2:  
#         print(movie.replace("actor actor", "actor"))
#     else:
#         # Replace three occurrences with one
#         print(movie.replace("actor actor actor", "actor"))

In [ ]:
# for movie in movies:
#   try:
#     # Find the first occurrence of word
#   	print(movie.index("money", 12, 51))
#   except ValueError:
#     print("substring not found")

In [ ]:
# # Replace negations 
# movies_no_negation = movies.replace("isn't", "is")

# # Replace important
# movies_antonym = movies_no_negation.replace("important", "insignificant")

# # Print out
# print(movies_antonym)